
#exclude all user prefs
/userPreferences*
/Components
/Documentation
/Logs
/Settings
/Plugins
/Preferences
/Settings
/Webfolder
/webSelections
*.4DB
/Project/DerivedData/*
*.4DD
*.4DIndx
*.4DIndy
*.journal
*.Match
*.4BK
*.4DSync*
*.pem
namak.txt
Exclude 4D shortcusts and server folder
/4D Server*
4D*

/Project/*.lnk
/Project/Logs/*
